{% extends 'base.html.twig' %}

{% block title %}Edit Employees{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-primary">
                        <h4 class="card-title">Edit Employees</h4>
                        <p class="card-category">Complete your Data</p>
                    </div>
                    <div class="card-body">
                        {{ include('employees/_form.html.twig', {'button_label': 'Update'}) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block myScripts %}
    <script>
        $(document).ready(function () {
            var area = '{{ employee.subArea.area.id }}';
            var subArea = '{{ employee.subArea.id }}';
            $("#areaSelect option[value='" + area + "']").attr("selected",true);

            let data = {'data' : $("#areaSelect option:selected").val()};
            request = $.ajax({
                type: "POST",
                url: '{{ path('getSubarea') }}',
                data: data ,
            });

            request.done(function (response, textStatus, jqXHR){
                $("#employees_subArea option").remove(); //removes the option with value = 2
                $('#employees_subArea').val('').trigger('chosen:updated');
                $('#employees_subArea').append('<option value="" selected="selected"> Select </option>');
                $.each(response, function (index, value) {
                    $('#employees_subArea').append('<option value="' + value[0]+ '">' + value[1] + '</option>');
                });
                $("#employees_subArea option[value='" + subArea + "']").attr("selected",true);
            });
        });

    </script>


{% endblock %}
